@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
  --primary-color: #010507; 
  --secondary-color: #095e14;
  

  --heading-font: "Oswald", sans-serif;
  --paragraph-font: "Oswald", sans-serif;
}

body{
    font-family: var(--heading-font);
    max-width: 1000px;
    padding: 20px;
}

h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav a{
    color: var(--primary-color);
    text-decoration: none;
}

.hero {
    position: relative;
    width: 115%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 140%;
    text-align: center;
    top: -120%; 
    left: -16%; 
    background-color: rgba(74, 72, 102, 0.521);
    color: var(--primary-color);
    font-size: 2.9rem;
}

.hero article  {
    position: absolute;
    width: 70%;
    top: 50%; 
    left: 40%; 
    transform: translate(-40%, -30%);
    background-color: #3bb130b4;
    padding: 8px;
      
}

.hero article p {
    font-weight: bold;
    
}

.hero article img {
    float: right;
    width: 195px;
    margin-right: -5px; 
     
}

/*adding color to the section <p>*/
section{
    color: #3bb130;
    font-weight: bold;
}
