@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}

:root {
  --primary-color: #0965BA;
  --secondary-color: #10B41E;
  --accent1-color:  #459DEF;
  --accent2-color:  #1098B4;

  --heading-font: 'PT Serif', serif;
  --paragraph-font: 'PT Serif', serif;

  --nav-background-color: #456ea0;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #ffffff;
  --nav-hover-background-color: #79beee;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  
  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }
  
  p {
    padding: 25px;
  }
  
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  /*this is a comment*/