*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer{
    max-width: 840px;
    margin:0 auto;
    
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; 
}

h1 {
    color: steelblue;
    border-bottom: #333 ;
    padding-bottom: 1rem;
    
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow:0 0 30px gray;
}

p {
    padding: 15px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img{
    width: 300px;
    height: auto;
    

}

p {padding: 0;}

footer{
    text-align: center;
    border-top: 2px solid black;

}

/*class selectors*/

.box{
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside{
    width: 25em;
    text-align: center;
}

main img{
    float: right;

}

aside h2{
    position: relative;
    top: 47px;
    left: 5px;
}

